streamlit
docling
langchain
langchain-core
langchain-openai
langchain-text-splitters
langchain-community
langchain-groq
faiss-cpu
openai
ipykernel # Caso o programa seja executado em um notebook (.ipynb)
